.place__website-artist {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  margin: 0 0 48px;
}

@media screen and (max-width: 320px) {
  .place__website-artist {
    margin: 0 0 10px;
  }
}
